/**
* 关于我们
**/
.aboutUs{
	background: url(../images/gywmBg.jpg) no-repeat center 0;
	&.lxwm{
		background: url(../images/lxwmBg.jpg) no-repeat center 0;
	}
	height: 525px;
	.aboutUsContent{
		width: 1150px;
		margin: 0 auto;
		.title{
			color: #4b9ccc;
			font-size: 36px;
			padding-top: 150px;
		}
		.al{
			padding-top: 80px;
			float: left;
			width: 615px;
			color: #fff;
			h1{
				font-size: 30px;
				text-align: center;
			}
			p{
				padding-top: 20px;
				line-height: 28px;
				font-size: 16px;
				text-indent: 2em;
			}
		}
		.ar{
			float: right;
			padding-top: 100px;
			img{
				width: auto;
			}
		}
	}
}
.qiye{
	text-align: center;
	padding: 30px 0;
	h1{
		font-size: 30px;
		color: #333;
	}
	h2{
		font-size: 24px;
		color: #999;
		margin-bottom: 40px;
	}
	img{
		width: auto;
	}
}

.dsj{
	background-color: #94d5ef;
	padding: 30px 0;
	.dsjContent{
		width: 1150px; margin: 0 auto;		
		.dsjleft{
			float: left;
			padding-top: 50px;
			img{
				width: auto;
			}
		}
		.dsjright{
			float: right;
			ul{
				li{
					position: relative;
					padding: 25px 0 0 80px;
					min-height: 70px;
					color: #fff;
					h2{
						font-size: 24px;
						line-height: 32px;
						padding: 5px 0 10px 0;
					}
					p{
						line-height: 28px;
					}
					img{
						position: absolute;
						top: 20px;
						left: 0;
						width: auto;
					}
				}
			}
		}
	}
}

.zizi{
	padding: 90px 0;
	text-align: center;
	h1{
		font-size: 24px;
		color: #bababa;
		margin-bottom: 30px;
	}
	img{
		width: auto;
		margin-right: 50px;
		&:last-child{
			margin-right:0;
		}
	}
}

.photo{
	background: url(../images/img30.jpg) no-repeat center top;
	padding-top: 392px;
	padding-bottom: 50px;
	.photoContent{
		margin: 0 auto;
		width: 1150px;
		a{
			display: block;
			height: 48px;
			width: 30%;
			margin: 0 1.5%;
			float: left;
		}
	}
}

.contact{
	width: 1150px;
	margin: 0 auto;
	.title{
		font-size: 30px;
		color: #76c9f9;
		padding: 30px 0;
	}
	.lxli{
		width: 332px; float: left;
		margin-right: 77px;
		&.last{
			margin-right: 0;
			float: right;
		}
		.brbm{
			padding: 5px 0;
		}	
		p{
			line-height: 32px;
		}
		.hot{
			position: relative;
			min-height: 156px;
			padding-left: 170px;
			margin-top: 100px;
			margin-bottom: 50px;
			p.t{
				color: #333;
				font-size: 18px;
				border-bottom: 1px solid #e8e8e8;
				padding-bottom: 10px;
				padding-top: 40px;
			}
			p.tel{
				font-size: 18px; color: #76c9f9;
				padding-top: 10px;
			}
			img{
				width: auto;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

.map{
	padding: 30px 0;
}



@charset "utf-8";
/* 重置样式 */
* {-moz-box-sizing: border-box;}
html {-webkit-text-size-adjust: none; /* 禁用iPhone中Safari的字号自动调整 */}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
body,button,input,select,textarea {font:100% 'Microsoft Yahei',arial,sans-serif;}
table {border-collapse:collapse;border-spacing:0;}
th {text-align:inherit;}
fieldset,img {border:none;}
iframe {display:block;}
abbr,acronym {border:none;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
body,h1,h2,h3,h4,h5,h6 {font-size-adjust: 0.5;}
q:before,q:after {content:'';}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
ins,a {color:#666;text-decoration:none;}
a:hover {text-decoration:underline;}
a:focus,*:focus {outline:none;}
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.clearfix {zoom:1;}
.clear {clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden;}
.hide {display:none;}
.block {display:block;}
.fl,.fr {display:inline;}
.fl { float:left;}
.fr {float:right;}
.oh {overflow:hidden;}
input,input:focus,input:active{user-select: text;}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

/* 设置图片视频等自适应调整 */
img {height: auto;width: auto9; /* ie8 */ -ms-interpolation-mode:bicubic;}
.video embed, .video object, .video iframe {width: 100%;height: auto;}

/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 * @comefrom  zhouwenyong
 * @subpackage  zhouwenyong
 +------------------------------------------------------------------------------
 */
 body{ color:#666; padding:0px; margin:0px; font-family:"Microsoft YaHei","Microsoft YaHei Light","SimSun"; font-size:14px;}
 * {} * a:link{} img{}
a{outline:none; text-decoration:none; color:#333; cursor:pointer;}
a:hover{ text-decoration:none; color:#333;}
html{/*zoom:1;*/ line-height:24px;}html *{outline:0;/*zoom:1;*/} html button::-moz-focus-inner{border-color:transparent!important;} 
body{ overflow-x:hidden;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
.tar{ text-align:right;}
.color_blue{ color:#5d9cec;}
.text-unline{ text-decoration:underline;}
.overflow{ overflow:hidden;}
input{ font-family:"微软雅黑";}

/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden;}/* 清除浮动*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* 高度自适应 */ 
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right; text-align:right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}.inline-block{ display:inline-block;}.h100{ height:100%;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/ -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}
.pt5{ padding-top:5px;}.pb5{ padding-bottom:5px;}.pl5{ padding-left:5px;}
.pl10{ padding-left:10px;}.pr10{ padding-right:10px;}.pt10{ padding-top:10px;}.pb10{ padding-bottom:10px;}.pd10{ padding:10px;}.pl20{ padding-left:17px}.pr20{ padding-right:17px;}.pt20{ padding-top:17px;}.pb20{ padding-bottom:17px;}.mt10{ margin-top:10px;}.ml10{ margin-left:10px;}
.pt8{ padding-top:8px;}.lh28{ line-height:28px;}.lh36{ line-height:36px;}.lh32{ line-height:32px;}.lh48{ line-height:48px;}
.bd_1{ border:1px solid #eeeeee; height:100%;}
.pd1{ padding:1px; background:#fff;}
.pd5{ padding:5px;}.pd20{ padding:20px 17px;}.pt15{ padding-top:15px;}
.brbm{ border-bottom:1px solid #dcdcdc; cursor:pointer;}.brtb{ border-top:1px solid #d7d7d7;}.brbd{border-bottom:1px dotted #dcdcdc;}/*底部线条*/.mt30{ margin-top:30px;} .mt50{ margin-top:50px;}.fl{float:left;}.fr{float:right;}.txde{ text-decoration:underline;} .ti2m{ text-indent:2em;}
.mt20{ margin-top:20px;}.mb20{ margin-bottom:20px;}.ml20{ margin-left:20px;}.mr20{margin-right:20px}.mb30{ margin-bottom:30px;}.mg20{margin:20px;}.mb5{margin-bottom:5px;}.mb10{ margin-bottom:10px;}.mr10{ margin-right:10px;}.mr5{ margin-right:5px;}.ml5{ margin-left:5px;}.mt36{ margin-top:36px;}.mb36{ margin-bottom:36px;}

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em{ font-style:italic !important;} strike{ text-decoration:line-through !important;} strong{ font-weight:bold !important;} u{ text-decoration:underline !important;}.strike{ text-decoration:line-through}

/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如 
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.color_333{ color:#333}
.color_666{ color:#666}
.color_999{ color:#999}
.color_blue{ color:#2d84d1}
a.color_red{ color:#f32b41;} .color_red{ color:#f32b41;}
.color_white{ color:#fff;}
.color_green{ color:#2a8800;}
.color_org{ color:#ff8201;}

/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font12px{ font-size:12px;}
.font14px{ font-size:14px;}
.font15px{ font-size:15px;}
.font16px{ font-size:16px;}
.font18px{ font-size:18px;}
.font24px{ font-size:24px;}
.font26px{ font-size:26px;}
.font28px{ font-size:28px;}
.font20px{ font-size:20px;}
.font32px{ font-size:32px;}
.font9pt{ font-size:9pt;}
.black{ color:#000;}
/**
 +------------------------------------------------------------------------------
 * 网站背景
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用bk+颜色值"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.bk_d4{ background:#d4d4d4;}
.bk_fff{ background:#fff; height:100%;}
.br2{ border:1px solid #1282c1;}
.bk_l{ background:#eaf9ff;}
.bk_c{ background:#eccdfe}
.bk_f7{ background:#f7f7f7;}
.bk_ee{ background:#eee;}
/**边框***/
.brts{ border-top:1px solid #e0e0e0;}.brls{ border-left:1px solid #e0e0e0;}.brrs{ border-right:1px solid #e0e0e0;}.brbs{ border-bottom:1px solid #e0e0e0;}.brsa{ border:1px solid #e0e0e0;}
/*框架大小*/
.box300{ width:300px;}

body{ background:#fff;}
body a:hover{ color:#333;}
.containter{width:100%; margin:0px auto; height:100%; padding:0px 0px 0px 0px;}
.icon{ background-image:url(../images/icon.png); background-repeat:no-repeat;}
.icon-tel{
	background-position: 0 0; padding: 0px 10px; display: inline-block;
}
.icon-arrow-small{
	background-position: -8px -32px; padding: 0px 5px; display: inline-block;
}
.header{ background:url(../images/headerBg.png) repeat-x 0px 0px;width:100%; z-index:999; /*position:fixed; top:0px; left:0px;*/}
	.head{ 
			width:1150px; margin:0px auto; height:127px;
			.headBanner{
				height: 32px; line-height: 32px; color: #fff;
				.hbLeft{
					float: left;
				}
				.hbRight{
					float: right;
					a{
						color: #fff;
						padding: 0 5px;
					}
				}
			}
			.headCenter{
				.logo{ float:left; position:relative; margin:20px 24px 0 24px;}
				.nav{ 
					height:52px; margin-bottom:10px; float:right; margin-top:24px; position:relative; z-index:100;
					li{
						&.firstMenu{ 
							float:left; margin:0 15px; padding:0px 0px 0px 0px; height:30px; position:relative;						
							
							a{
								text-align:center; display:block; font-size:18px; color:#333; line-height:30px; padding:11px 15px 20px; border: 1px solid #fff; 
								
								.icon-arrow{
									background-position: 0 -96px; padding: 0px 10px; display: inline-block;
								}
							}
							
						}
						&.subMenu{
							a{
								&:hover{
									background-color:#fff; color:#1d83d0; border: 1px solid #e8e9eb;
								}
							}
							&:hover{
								a.hover{
									background-color:#fff; color:#1d83d0; border: 1px solid #e8e9eb;
								}
							}
							dl{
								background:#fff; padding:0px 0; border: 1px solid #e8e9eb; position:absolute; top:50px; left:0px; width:99%; display:none;
								&.line{
									margin:10px 0px; border-bottom:1px solid #f2f2f2;
								}
								a{
									text-align:center; font-size:14px; line-height:22px;
									border-bottom: 1px solid #e8e9eb;
									padding: 10px 0px;
									&:hover{
										color:#1d83d0; background:none; border: 1px solid #fff; border-bottom: 1px solid #e8e9eb;
									}
									&.title{
										color:#1d83d0;
									}
								}

							}
						}
						&.current{
							a{
								color:#1d83d0;
							}
						}
						&.last{
							float:right;
							a{
								padding:0px 10px; display:inline-block; font-size:14px;
							}
						}
					}
					
				}
			}
	
}

.icon_user{ display:inline-block; padding:0px 16px; background-position:0px 18px;}

.banner{}
.content{ width:1150px; margin:0px auto;position:relative;}

.footer{  
	width:100%; padding:20px 0 0 0; background-color: #2a2a2d;
	.foot{
		width: 1150px;
		margin: 0 auto;
		text-align: center;
		.foot-ul{
			font-size: 14px;
			color: #fff;
			padding-bottom: 10px;			
			a{
				color: #fff;
				padding: 0 20px 0 20px;
			}
			a.icon-chart{
				/* background-color: #e7e7e7; */
				background:#4e4e51 url(../images/icon-chart.png) no-repeat center center;
				height: 32px;
				width: 32px;
				padding: 0;
				display: inline-block;
				border-radius: 16px;
				margin-top: -12px;
				position: relative;
			}		
		}
		.copyright{
			font-size: 12px;
			color: #fff;
			padding: 5px 0 10px;
		}
		.foot-img{
			text-align: center;
			padding: 10px 0 20px 0;
			img{
				display: inline-block;
				width: auto;
			}
		}
	}
	
}

.main{
	width: 1150px; margin: 0 auto;
}

/**
* 产品中心
**/
.cpMenu{
	background-color: #2b98d6;
	height: 50px;
	.cpMenuContent{
		width: 1150px;
		margin: 0 auto;
		a{
			width: 284px; display: inline-block;
			height: 50px; line-height: 50px;
			font-size: 18px;
			text-align: center;
			color: #fff;
			span{
				font-size: 14px;
			}
			&:hover,.active{
				background-color: #288fca;
			}
		}
	}
}
.product{
	.cxt{
		margin: 0 auto;
		width: 1150px;
		img{
			display: block;
		}
	}
	
	.ypskq{
		background-color: #55b0e4;
	}
	.jjfa{
		background: url(../images/img73.jpg) no-repeat 0 bottom;
		padding-bottom: 331px;
	}
	.lyskq{
		background-color: #c7d157;
	}
	.lyskqkey{
		background-color: #689ee8;
	}
	.pos{
		background-color: #ecc951;
	}
}


/**
* 代理商平台登录界面
**/

.dlspt {
    background: url(../images/dlsptBg.jpg) no-repeat center 30px;
    .header {
        background-color: rgba(0, 0, 0, 1);
        .head {
            height: 30px;
        }
    }
    .ptContent {
        position: relative;
        .xtLogin {
            width: 250px;
            padding: 30px;
            background: url(../images/blackBg.png) repeat 0 0;
            position: absolute;
            top: 140px;
            right: 50px;
            h1 {
                text-align: center;
                font-size: 18px;
                color: #fff;
                font-weight: normal;
            }
            .label {
                margin: 10px 0 0 0;
                position: relative;
                border: none;
                height: 40px;
                line-height: 40px;
                background: transparent;
                .label-user {
                    background: #c3c3c3 url(../images/icon.png) no-repeat 7px -284px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 46px;
                    height: 40px;
                    line-height: 40px;
                }
                .label-pwd {
                    background: #c3c3c3 url(../images/icon.png) no-repeat 7px -318px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 46px;
                    height: 40px;
                    line-height: 40px;
                }
                .text {
                    width: 100%;
                    border: 1px solid #d9d9d9;
                    line-height: 38px;
                    height: 38px;
                    text-indent: 55px;
                    *text-indent: 0;
                    background-color: #fff;
                    &:focus {
                        color: #333;
                    }
                }
                .text-small {
                    width: 140px;
                    border: none;
                    line-height: 40px;
                    height: 40px;
                    text-indent:10px;
                    *text-indent: 0;
                    &:focus {
                        color: #333;
                    }
                }
                .code{
                	position: absolute;
                	top: 0;
                	right: 0;
                	img{
                		width: auto;
                	}
                }
            }
            .blueBtn {
                display: block;
                height: 40px;
                line-height: 40px;
                background-color: #00aaee;
                text-align: center;
                font-size: 18px;
                color: #fff;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
            }
            .forget{
            	margin:10px 0 20px 0;
            	a{
            		color: #fff;
            	}
            }
        }
    }
    .footer {
        background: transparent;
        position: fixed;
        bottom: 50px;
        .foot {
            .foot-ul {
                a {
                    color: #000;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .copyright {
                font-size: 12px;
                color: #000;
                padding: 5px 0 10px;
            }
        }
    }
}

/**
*	代理招商
**/
.djjm{

}
.zhaoshang{
	.zsCxt{
		h1{
			padding-top: 50px;
			font-size: 30pt;
			color: #76c9f9;
			margin-bottom: 30px;
		}
		h2{
			font-size: 24pt;
			color: #666;
			margin-bottom: 10px;
		}
		p{
			font-size: 14px;
			line-height: 28px;
		}
	}	
}

.zsForm{
	border-top: 1px solid #e8e8e8;
	.form{
		margin: 0 auto;
		width: 1150px;
		padding-top: 20px;
		padding-bottom: 50px;
		color: #76c9f9;
		font-size: 30px;
		.label{
			margin-top: 20px;
			.text{
				height: 46px;
				line-height: 46px;
				border:1px solid #e8e8e8;
				color: #d0d0d0;
				font-size: 18px;
				width: 100%;
				border-radius: 5px;
				text-indent: 20px;
			}
			.btn{
				background-color: #76c9f9;
				height: 46px;
				line-height: 46px;
				border:1px solid #e8e8e8;
				color: #fff;
				font-size: 18px;
				width: 100%;
				border-radius: 5px;
			}
			textarea{
				height: 100px;
				line-height: 46px;
				border:1px solid #e8e8e8;
				color: #d0d0d0;
				font-size: 18px;
				width: 100%;
				border-radius: 5px;
				text-indent: 20px;
			}
		}
	}
}
/**
* 下载中心
**/
.downBanner{
	background: url(../images/xzBg.jpg) no-repeat center 0;
	height: 608px;
	.downContent{
		width: 1150px; margin: 0 auto;
		.down-left{
			float: left;
			width: 530px;
			padding-top: 100px;
			color: #fff;
			h1{
				font-size: 56px;
				padding: 20px 0;
			}
			h2{
				font-size: 28px;
			}
			.ewm{
				margin-top: 50px;
				a{
					width: 138px;
					display: inline-block;
					margin-right: 35px;
					color: #fff;
					img{
						width: auto;
					}
					span{
						text-align: center;
						display: block;
						height: 32px;
						line-height: 32px;
						overflow: hidden;
					}
				}				
			}
			.wenti{
				font-size: 18px; display: inline-block; padding:5px 10px; color: #fff; border: 1px solid #fff; margin-top: 20px;
			}
		}
		.down-right{
			float: right;
			padding-top: 170px;
			img{
				width: auto;
			}
		}
	}
}
/**
*	公司公告
**/
.notice{
	.noticeLeft{
		width: 750px;
		float: left;
		/*咨询中心*/
		.zxTab{
			.tit{
				background:#fff;
				ul{
					&.tags{
						li{
							float:left;line-height:40px; height:40px; background:#dfdfdf; color: #333; padding: 0 20px 0 20px; margin-right: 10px; border-radius: 5px; font-size: 24px; text-align: center;
							&.current{
								background:#ee4d4e;
								a{
									color:#fff;
								}
							}
							a{
								&:hover{
									text-decoration:none;
								}
							}

						}
					}
				}
			}
			.panes{
				clear: both;
				padding-top: 20px;
				.pane{
					.paneImg{
						float: left;
					}
					.newsUl{
						width: 450px;
						float: right;
						li{
							position: relative;
							padding-left: 32px;
							padding-top: 20px;
							.icon-yh{
								position: absolute;
								top: 60px;
								left: 0;
								background-position: 0 -192px;
								display: inline-block;
								width: 32px;
								height: 32px;
							}
							h1{
								font-size: 20pt;
								margin-bottom: 10px;
							}
							p{
								font-size: 14px;
								line-height: 28px;
								.icon-date{
									background-position: -5px -264px;
									padding: 0 12px;
								}
							}
						}
					}
					.spanUl{
						padding: 70px 0;
						li{
							position: relative;
							a{
								font-size: 14px;
								display: block;
								color: #666;
								margin: 16px 0;
							}
							span{
								position: absolute;
								top: 0;
								right: 0;
								font-size: 14px;
								color: #666;
							}
							&.tar{
								a{
									color: #11a0ff;
								}
							}
						}
					}
				}
			}

		}
	}
	.noticeRight{
		float: right;
	}
}

.detailBody{
	background-color: #f5f6f7;
}

.noticeDetail{
	margin-top: 50px;
	margin-bottom: 50px;
	border:1px solid #e8e8e8;
	background-color: #fff;
	h1{
		font-size: 24pt;
		color: #000;
		border-bottom: 1px solid #e8e8e8;
		line-height: 48px;
		text-align: center;
		padding-top: 50px;
		&.title{
			font-size: 18px;
			color: #666;
			text-align: left;
			img{
				vertical-align: middle;
			}
		}
	}
	h5{
		text-align: center;
		padding:10px 0;
	}
	.content{
		padding-top: 100px;
		padding-bottom: 100px;
		width: 780px;
		margin: 0 auto;	
		p{
			font-size: 16px;
			text-indent: 2em;
			margin-top: 20px;
			line-height: 28px;
		}
		img{
			margin-top: 30px;
		}	
	}
}

.queDetail{
	margin-top: 50px;
	margin-bottom: 50px;
	border:1px solid #e8e8e8;
	background-color: #fff;
	h1{
		border-bottom: 1px solid #e8e8e8;
		line-height: 61px;
		height: 68px;
		padding-top: 30px;
		padding-left: 60px;
		&.title{
			font-size: 18px;
			color: #666;
			text-align: left;
			img{
				vertical-align: middle;
			}
		}
	}
	h5{
		text-align: center;
		padding:10px 0;
	}
	.content{
		padding-top: 30px;
		padding-bottom: 100px;
		width: 1050px;
		margin: 0 auto;
		p.t{
			font-weight: bold;
			font-size: 14px;
			color: #000;
			margin-top: 30px;
		}
		.a{
			position: relative;
			padding: 10px 0 0 40px;
			span{
				position: absolute;
				top: 10px;
				left: 0px;
			}
		}
	}
}
.indexBanner{
	.flashBanner {
		position:relative;height:580px; width:100%;		
		.slides_container{
			height:580px; width:100%;overflow:hidden;position:relative;
			.slide{
				height:580px; width:100%;display:block;
				a{
					padding:0px; display: block; height: 580px
				}
				img{
					 /* width:100%; */ width: 1280px; margin: 0px auto; display: block;
				}
			}
		}
		.prev{
			display:inline-block; width:40px; height:40px; position:absolute; left:-10px; top:165px; z-index:3;

		}
		.next{
			display:inline-block; width:40px; height:40px;position:absolute; right:-10px; top:165px; z-index:3;
		}
		.pagination{
			margin:0px;position:absolute; bottom:15px; left:48%; z-index:99;
			li{
				float:left;margin:0 5px;list-style:none;
				a{
					display:block;width:16px;height:16px; border: 1px solid #fff; text-align:center;background:none; border-radius:12px;overflow:hidden; color:#fff; text-indent:-100px;
				}
				&.current{
					a{
						background:#fff; text-align: left;
					}
				}
			}
		}
	}
}
.centerBanner{
	padding: 50px 0;
	.flashBanner {
		position:relative;height:200px; width: 750px; margin: 0 auto;	
		.slides_container{
			height:200px; width:100%;overflow:hidden;position:relative;
			.slide{
				height:200px; width:100%;display:block;
				.cl{
					float: left;text-align: center; width: 400px;
					h2{ font-size: 30px; line-height: 48px;}
					h5{
						font-size: 16px;  line-height: 28px;
					}
					p{
						font-size: 16px; line-height: 28px;
					}
				}
				.cr{
					float: left; margin-left: 100px;
					img{
						 width: auto; display:inline-block;
					}
				}
				
			}
		}
		.prev{
			display:inline-block; width:32px; height:32px; position:absolute; left:-80px; top:85px; z-index:3;
			background: url(../images/icon.png) no-repeat 0 -128px;
		}
		.next{
			display:inline-block; width:32px; height:32px;position:absolute; right:-80px; top:85px; z-index:3;
			background: url(../images/icon.png) no-repeat 0 -160px;
		}
		.pagination{
			margin:0px;position:absolute; bottom:15px; left:48%; z-index:99; display: none;
			li{
				float:left;margin:0 5px;list-style:none;
				a{
					display:block;width:16px;height:16px; border: 1px solid #fff; text-align:center;background:none; border-radius:12px;overflow:hidden; color:#fff; text-indent:-100px;
				}
				&.current{
					a{
						background:#fff; text-align: left;
					}
				}
			}
		}
	}
}
.newsCenter{
	h2{
		color: #000;font-size: 24px;font-weight: bold;
	}
	h5{
		color: #999; font-size: 14px;
	}

}
.newsCenterBg{
	background-color: #f7f7f7;
}
.newsCenter{
	padding: 30px 0px; margin: 0 auto; width: 1150px;
	h2{
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		line-height: 48px;
		position: relative;
		a{
			border: 1px solid #e8e8e8; font-size: 14px; line-height: 32px; font-weight: normal; color: #666; text-align: center; padding: 5px 20px; display: inline-block; position: absolute; top: 0; right: 0;
		}
	}
	h5{
		color: #999;
		text-align: center; margin-bottom: 30px;
	}
	.newsLeft{
		width: 518px; height: 268px; float: left; background-color: #f0efef; border: 1px solid #cccccc; padding:10px;
		img{
			display: block; width: 518px; height: 268px;
		}
	}
	.newsRight{
		float:right;
		width: 500px;
		/*咨询中心*/
		.zxTab{
			.tit{
				background:#fff;
				ul{
					&.tags{
						li{
							float:left;line-height:40px; height:40px; background:#dfdfdf; color: #333; padding: 0 20px 0 20px; margin-right: 10px; border-radius: 5px; font-size: 24px; text-align: center;
							&.current{
								background:#ee4d4e;
								a{
									color:#fff;
								}
							}
							a{
								&:hover{
									text-decoration:none;
								}
							}

						}
					}
				}
			}
			.panes{
				clear: both;
				.pane{
					.newsUl{
						li{
							position: relative;
							padding-left: 32px;
							padding-top: 20px;
							.icon-yh{
								position: absolute;
								top: 60px;
								left: 0;
								background-position: 0 -192px;
								display: inline-block;
								width: 32px;
								height: 32px;
							}
							h1{
								font-size: 20pt;
								margin-bottom: 10px;
							}
							p{
								font-size: 14px;
								line-height: 28px;
								.icon-date{
									background-position: -5px -264px;
									padding: 0 12px;
								}
							}
						}
					}
				}
			}

		}
	}
}

.dls{
	padding: 30px 0;
	.dlsContent{
		margin: 0 auto;
		width: 1150px;
		text-align: center;
		position: relative;
		.icon-yh{
			position: absolute;
			top: 20px;
			left: 200px;
			background-position: 0 -192px;
			display: inline-block;
			width: 32px;
			height: 32px;
		}
		.icon-yh-right{
			position: absolute;
			top: 60px;
			right: 200px;
			background-position: 0 -224px;
			display: inline-block;
			width: 32px;
			height: 32px;
		}
		.font18px{
			font-size: 20px;
			line-height: 42px;
			.font22px{
				color: #e66465;
			}
		}
		h1{
			font-size: 30px;
			color: #33adff;
			margin-bottom: 30px;
		}
		.blueBtn{
			background-color: #33adff;
			width: 242px;
			height: 54px;
			line-height: 54px;
			text-align: center;
			color: #fff;
			display: inline-block;
			font-size: 20px;
			border-radius: 5px;
		}
	}
}

.youshi{
	background: url(../images/ysBg.jpg) no-repeat center 0;
	height: 468px;
	.ysContent{
		width: 1150px; margin: 0 auto;
		.title{
			text-align: center;
			color: #fff;font-size: 14px;
			padding: 20px 0 0 0;
			position: relative;
			span{
				border-top: 1px solid #33adff;
				display: inline-block;
				width: 38px;
				position: absolute;
				top: 10px;
				left: 49%;

			}
		}
		.ysUl{
			li{
				float: left;
				width: 240px;
				padding: 0 25px 0 20px;
				color: #fff;
				h2{
					font-size: 20px;
					text-align: center;
					margin-bottom: 20px;
				}
				p{
					line-height: 28px;
					font-size: 16px;
				}
				.icon-tb{
					background: url(../images/icon-tb.png) no-repeat 0 0;
					width: 108px;
					height: 108px;
					border-radius: 54px;
					border: 1px solid #fff;
					display: block;
					margin: 40px auto;
				}
				.icon1{
					background-position: center -24px;
				}
				.icon2{
					background-position: center -154px;
				}
				.icon3{
					background-position: center -284px;
				}
				.icon4{
					background-position: center -418px;
				}
				&:hover{
					.icon-tb{
						background-image: url(../images/icon-tb2.png);
						border-color: #33adff;
					}
					h2{
						color:#33adff;
					}
				}
			}
		}
	}
}

/**
* 在线学堂登录页面
**/
.zxxtBody{
	background-color: #eeeeee;
}
.xtLogin{
	width: 420px; margin: 100px auto 0 auto;
	h1{
		text-align: center;
		font-size: 18pt;
		color: #747474;
		font-weight: normal;
	}
	.label{
		margin: 20px 0 0 0;
		position: relative;
		border: 1px solid #d9d9d9;
		height: 40px;
		line-height: 40px;
		background: #fff;
		.label-user{
			background: #c3c3c3 url(../images/icon.png) no-repeat 7px -284px;
			position: absolute;
			top: 0;
			left: 0;
			width: 46px;
			height: 40px;
			line-height: 40px;
		}
		.label-pwd{
			background: #c3c3c3 url(../images/icon.png) no-repeat 7px -318px;
			position: absolute;
			top: 0;
			left: 0;
			width: 46px;
			height: 40px;
			line-height: 40px;
		}
		.text{
			width: 100%;
			border:none;
			line-height: 40px;
			height: 40px;
			text-indent: 55px;
			&:focus{
				color: #333;
			}
		}		
	}
	.blueBtn{
		display: block;
		height: 40px;
		line-height: 40px;
		background-color: #00aaee;
		text-align: center;
		font-size: 18px;
		color: #fff;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 5px;
	}
}